.root {
    -fx-background-image: url("keyboard1.jpg");
    -fx-background-size: cover;
}

#Title,#Title2{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#mismatch, #wrongtype, #Missingfield{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: crimson;
}

#lname,#sname,#lid,#pass,#verify_pass,#matrnr,#dob,#phone,#address{
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

#dob1.error,#lname1.error,#sname1.error,#lid1.error,#pass_field.error,#verify_pass_field.error,#phone1.error,#address1.error,#matrnr1.error{
    -fx-border-color: rgba(240, 22, 30, 0.28);
    -fx-background-color: rgba(240, 22, 30, 0.28);
}
.button {
    -fx-text-fill: azure;
    -fx-background-color: lightcoral;
}

.button:hover {
    -fx-background-color: palevioletred;
}