.root {
    -fx-background-image: url("img/LoginBackground.jpg");
    -fx-background-size: stretch;
}

#welcome{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#status{
    -fx-text-fill: tomato;
    -fx-font-style: italic;
}

.button {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-max-width: 250px;
}

#loginBtn {
    -fx-text-fill: azure;
    -fx-background-color: dodgerblue;
}

#loginBtn:hover {
    -fx-background-color: deepskyblue;
}

#registerBtn {
    -fx-text-fill: azure;
    -fx-background-color: mediumseagreen;
}

#registerBtn:hover {
    -fx-background-color: mediumspringgreen;
}