.root {
    -fx-background-image: url("../img/keyboard1.jpg");
    -fx-background-size: cover;
}

.text-field{
    -fx-min-width: 300px;
}

.password-field{
    -fx-min-width: 300px;
}


#Title,#Title2{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#mismatch, #wrongtype, #Missingfield{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: crimson;
}

.label{
    -fx-font-size: 15px;
    -fx-text-fill: dimgrey;
}

.grid{
    -fx-alignment: center;
}

#dob1.error,#lname1.error,#sname1.error,#lid1.error,#pass_field.error,#verify_pass_field.error,#phone1.error,#address1.error,#matrnr1.error{
    -fx-background-color: rgba(240, 22, 30, 0.28);
    -fx-max-width: 350px;
}

#registerBtn {
    -fx-text-fill: azure;
    -fx-background-color: mediumseagreen;
    -fx-min-width: 350px;
}

#registerBtn:hover {
    -fx-background-color: mediumspringgreen;
}